// ==========================================================================
// COLORS
// ==========================================================================

$brand: #93D94A;
$grey: #606264;
$blue: #07A5E4;
$background: #333333;

// ==========================================================================
// GENERAL
// ==========================================================================

body {
    margin: 0;
    padding: 0;
    background: white;
    min-height: 480px;
}

li {
    padding: 10px;
}
