// ==========================================================================
// LAYOUT
// ==========================================================================

$margin: 5px;
$text: 14px;
$xsmall-text: 11px;
$small-text: 12px;
$medium-text: 16px;
$large-text: 18px;
$xlarge-text: 24px;

// ==========================================================================
// COLORS
// ==========================================================================

$gray: #6b645c;
$light: #e6e6dd;
$brand: #e64a33;
$accent: #fee65e;
$dark-accent: #ffaa42;
$light-accent: #fdef6e;
$background: #fcfdf4;

// ==========================================================================
// GENERAL
// ==========================================================================

body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    overflow: hidden;
    text-align: center;
}

header h1 {
    display: inline-block;
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
}
