#primary {
    padding: 10px;
    h1,
    div.item-user-actions a,
    .price-standard,
    .item-edit-details,
    thead {
        display: none;
    }
    table {
        text-align: center;
    }
    tr {
        margin: 10px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.23);
    }
    td {
        width: 100%;
        display: block;
        border: none;
        padding: 0 0 10px 0;
        &:last-of-type {
            border-bottom: 5px solid $blue;
            margin-bottom: 20px;
        }
        .price-total {
            color: $brand;
        }
    }
}

#dwfrm_cart_couponCode {
    margin-bottom: 10px;
}
