.m-pikabu-sidebar {
    background: white;

    li {
        background: black;

        a {
            color: white;
            font-family: Arial, sans-serif;
            font-size: 14px;
            height: 16px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
